@model IEnumerable<ASPLabb2.Models.Course>
@{
	ViewData["Title"] = "Courses";
}

<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				<a asp-action="EditCourse" asp-route-id="@item.ID">Edit</a>
			</td>
		</tr>
	}
	</tbody>
</table>