@{
	ViewData["Title"] = "Index";
}
<div class="row">
	<div>
		<a asp-action="FindTeacherCourse">Find teachers by course</a><br/>
		<a asp-action="GetStudentsAndTeachers">Get students and their teachers</a><br/>
		<a asp-action="FindStudentTeacherCourse">Get students and teachers by course</a><br/>
		<a asp-action="FindEditCourse">Edit course name</a><br/>
		<a asp-action="FindStudent">Change teacher for a student</a>

	</div>
	</div>
